<div>
    <!--INTRO-->
    <p>
        I came across a few online shell resources last year. These
        shells are different from VPS. They have limitations too. In some
        cases they have poor internet speeds, in others you won't get
        super user access. Still they can be very useful, especially if you have 
        an under powered computer.
    </p>

    <p>
        <ul type="decimal">
            <li>
                <a href="#gcloud">Google Cloud shell</a>
            </li>

            <li>
                <a href="#katakoda">Oreilly's Katakoda</a>
            </li>

            <li>
                <a href="#codeanywhere">Code Anywhere</a>
            </li>

            <li>
                <a href="#onworks">Onworks</a>
            </li>

            <li>
                <a href="#pubnix">Public *nix shells</a>
            </li>
       </ul>
    </p>

    <!--EXTRO-->
    <p>
        <a id="gcloud" href="https://cloud.google.com">Google cloud</a>:<br>
        Google provides many free services to its users. Along with
        email services there are computing services on the the list.
        There is <a href="https://colab.research.google.com/">Google Colab</a>
        and <a href="https://cloud.google.com">Cloud shell</a> and much more.
        Through google cloud you get a Debian instance for 50Hrs per week. 
        Here are the time taken while compiling 
        <a href="https://www.python.org/ftp/python/3.9.6/Python-3.9.6.tgz">Python 3.9.6</a>
        from source(tar.gz file).
    </p>
    <p>
        <div class="listing">
        Compiling Python 3.9.6
        <pre>
            tar -xvf                     0m1.342s
            configure                    0m32.000s
            compile                      3m18.219s
            compile with optimisation    10m9.732s
        </pre>
        Properties
        <pre>
            networking                   true
            wget https://www.python.org/ftp/python/3.9.6/Python-3.9.6.tgz
            (268MB/s)
            root                         true
            persistent storage            yes
            os                           debian 10
            processor                    intelXenon
            ram                          8GB
            storage                      5GB persistent storage 60GB root filesystem
            type                         browser based, cli using gcloud sdk
        </pre>
        </div>
    </p>
    <p>
        In cloud shell you get internet access, root access, a total of 70GBs storage but
         only 5GBs of 
        persistent storage(user's home directory), meaning if you save file anywhere 
        except users home it will be gone in next login. You can login to cloudshell using
        a web browser or using google cloud 
        <a href="https://cloud.google.com/sdk/docs/install">SDK</a>.
    </p>

    <p>
        <a id="katakoda" href="https://www.katacoda.com/courses/operating-systems">Katakoda</a>:<br>
        Oreilly Katakoda is another online service which provides GNU/Linux shell (Ubuntu, CentOS, Fedora)
        with good internet speed and root access. You get a session of nearly 1Hr. After 1Hr shell 
        session resets. You get approximately 250GBs of storage, unfortunately there is no persistent
        storage. Here is time taken to compile Python 3.9.6 from source:
    </p>
    <p>
        <div class="listing">
            Compiling Python 3.9.6
            <pre>
            tar -xvf                     0m1.092s 
            configure                    0m25.387s
            compile                      2m41.639s
            compile with optimisation    8m31.852s
            </pre>
            Properties
            <pre>
            networking                   true
            on wget wget https://www.python.org/ftp/python/3.9.6/Python-3.9.6.tgz
            speed                        (103MB/s)	
            root                         true
            os                           Ubuntu 16, 20, Fedora, CentOS
            persistent storage            no
            processor                    intel xenon(R)
            ram                          1.5GB, swap:4GB
            storage                      200+GB
            type                         browser based
            </pre>
        </div>
    </p>

    <p>
        If you want to use Katakoda, you need to register for it. Shell can be
        accessed using a web browser.
    </p>

    <p>
        <a id="codeanywhere" href="https://codeanywhere.com/">
            Codeanywhere:
        </a><br>
        Code Anywhere is a paid service which provides coding environment- a VS code
        on web, a GNU/Linux shell with internet access. Though it's a paid service, it 
        provides 7 day trial without requiring any payment details. It's web browser 
        based for free trial. It has VS code like interface, where you can access 
        GNU/Linux shell.
    </p>
    <p>
        <div class="listing">
            Compiling Python 3.9.6
            <pre>
            tar -xvf                     0m2.370s
            configure                    0m30.5716s 
            compile                      3m6.806s
            compile with optimization    10m0.696s
            </pre>
            Properties
            <pre>
            networking                   true
            on wget wget https://www.python.org/ftp/python/3.9.6/Python-3.9.6.tgz
		                                (46MB/s)
            root                        true
            persistent storage           yes
            os                          various
            processor                   genuineIntel, common KVM processor
            ram                         3GB, swap:1.4GB
            storage                     20GB
            </pre>

        </div>
    </p>
    <p>
        <a id="onworks" href="https://www.onworks.net">Onworks:</a><br>
        Onworks provides approximately 1Hr of computing. It's VM in web browser.
        It provides computers in GUI. There are many operating systems to choose 
        from, including Ubuntu, Mint, Debian, ElementaryOS.
    </p>
    <p>
        <div class="listing">
        Properties
        <pre>
            networking                 true
            wget https://www.python.org/ftp/python/3.10.0/Python-3.10.0.tgz
                (35,4MB/s)
            root                       true
            persistent storage          false
            os                         various
            processor                  genuineIntel, common KVM processor
            ram                        3GB, swap:1.4GB
            storage                    20GB
            type                       VM in browser
        </pre>
        </div>
    </p>

    <p>
        <a id="pubnix" href="https://github.com/cwmccabe/pubnixhist">Public *nix shells:</a><br>
        Public *nix shells(pubnix) are free to use services. Most of them are hosted by
        individuals. Every pubnix is unique in resources, community and rules.
        There is tildeverse community, most of them running flavours of GNU/Linux.
        Then there is sdf running NetBSD. You can also find other pubnixes from 
        <a href="https://shells.red-pill.eu/">here</a>.
    </p>

    <p>
        There are some GNU/Linux computing resources worth mentioning. These are:
        <ul>
            <li>
                <a href="https://heroku.com">Heroku:</a> You can use Heroku's bash shell to get 
                your work done.
            </li>
            <li>
                <a href="https://replit.com">replit.com:</a> Similar to Heroku but not as good as Heroku.
            </li>
            <li>
                <a href="https://cloudsigma.com">cloudsigma.</a>
            </li>
            <li>
                <a href="https://linuxcontainers.org/">Linuxcontainers.org:</a> slow internet connection,
                and session lasts only 30mins.
            </li>
            <li>
                <a href="https://bellard.org">Bellard.org:</a> slow internet connection, decent hardware.
            </li>
        </ul>  
    </p>
</div>
<div class="foot">
    <ul>
        Notes:
    </ul>
</div>
