:root{
	/*
	*colors
	*--bg-color: rgb(37, 39, 37);
	*/

	--text-color: rgb(209, 199, 199);
/*
*	--bg-color: rgb(30, 35, 36);
	--bg-color:  #333;	

*/
	--bg-color:#1e1e1e;
}
body{
	background-color: var(--bg-color);
	font-family: monospace;
	font-size: 125%;
	color: var(--text-color);
}

p{
	text-align: justify;
	hyphens: auto;
}
a{
	color: wheat;
}
.listing{
	padding-top: 4px;
	background-color: black;
}
.foot{
	font-style: italic;
	margin-left: -1cm;
}
.para{
	color: var(--text-color);
	text-align: justify;
	hyphens: auto;
}


.heading{
	/*
	background: linear-gradient(to right, skyblue 100%, rgb(13, 56, 53) 0%);
	background: linear-gradient(to right, rgb(13, 56, 53) 30%, rgb(18, 116, 109) 100%);
	background-color: rgb(231, 199, 138);
	*/
	max-width: 31cm;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
/*
*	border-bottom:rgb(53, 68, 53) solid;
*/
	text-align: center;
}

.container::after{
	/*
	*content blank important
	*/
	content: ''; 
	clear:both;
}
.container{
	/*
	*display: table;
	*/
	
	min-height: 15cm;
	max-width: 30cm;
	margin-left: auto;
	margin-right: auto;
}

.menu{
	border-right: solid rgb(221, 179, 99) thin;
	width: 4cm;
	min-height: 10cm;
	float: left;
	padding-left: 2px;
	padding-right: 2px;
}

.space{
	/*
	*border: solid black;
	*/
	max-width: 24cm;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	float: left;
}

.footer{
	clear:both;
	max-width: 30cm;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}

.undecor{
	text-decoration: none;
	color: wheat;
}

.blog-post{
	margin-top: 1cm;
	margin-left: 1cm;
}
.cmdline{
	background-color: black;
	border-left:solid var(--text-color);
    	padding: 4px;
       	margin-top: 4px;
	margin-bottom: 4px;
}
.notes{
	margin-top: 1cm;
	margin-left: 1cm;
}

.pagination{
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 10cm;
}

.menu-border{
	border: solid gray thin;
	padding: 10px;
}
/*
*hover here
*/
a:hover{
	font-style:italic;
}
.hover:hover{
	font-style:italic;
}

.list{
	list-style-type: square;
}
