<div>
	<ul type="decimal">
		<li>
			<!--<a href="Every-Body-Hurts">Every Body Hurts</a><br>
			-->
			<span style="color: wheat;"> Every Body Hurts:</span>
			A beautiful song by R.E.M. It might be one of the first songs 
			I "listened" to. I used to listen to it whenever my mood
			was off.
		</li>
	</ul>
</div>
